---
import { work } from "@/resume.json";
import { sections } from "@/utils/const";
import { DateParser, ResumeUtilities, TextParser } from "@/utils/scripts";
import Anchor from "../Anchor.astro";

const { name, text } = sections.find((elm) => elm.name === "experience");
const orderedExperience = ResumeUtilities.orderExperience(work);
const totalExperience = ResumeUtilities.calculateTotalExperience(work);
---

<section id={name}>
  <h1 class="section-title">
    <Anchor href={`#${name}`}>
      {text}
    </Anchor>
  </h1>

  <span class="total-experience">
    <strong>{totalExperience}</strong>
    de experiencia
  </span>

  <section class="time-line">
    {
      orderedExperience.map((experience, index, array) => {
        const {
          name: companyName,
          summary,
          endDate,
          position,
          startDate,
          highlights,
        } = experience;

        const parsedStartDate = DateParser.format(startDate, {
          month: "short",
          year: "numeric",
        });

        const parsedEndDate = endDate
          ? DateParser.format(endDate, {
              month: "short",
              year: "numeric",
            })
          : "Actualidad";

        let relative = `(${DateParser.relativeTime(startDate, endDate)})`;

        if (startDate && !endDate) {
          relative = `(${DateParser.relativeTime(startDate, new Date().toISOString())})`;
        }

        if (!startDate && !endDate) {
          relative = null;
        }

        const previousCompanyName = TextParser.normalize(
          array?.[index - 1]?.name,
        );
        const currentCompanyName = TextParser.normalize(companyName);
        const mainWorkExperience = array.find(
          (elm) => elm.name === companyName,
        );
        let haveDot = true;

        if (previousCompanyName && previousCompanyName === currentCompanyName) {
          haveDot = false;
        }

        const isCurrentWorkExperince =
          !endDate || (!mainWorkExperience?.endDate && !haveDot);
        const showCompanyName = previousCompanyName !== currentCompanyName;

        return (
          <article
            class:list={[
              "time-line-element",
              isCurrentWorkExperince && "current-experience",
              haveDot && "dot",
            ]}
          >
            <header class="experience-header">
              <hgroup>
                {showCompanyName && <h1 class="company-name">{companyName}</h1>}
                <h2 class="job-title">{position} </h2>
              </hgroup>

              <h3 class="work-time">
                {parsedStartDate} - {parsedEndDate} {relative}
              </h3>
            </header>

            {summary && summary.length && <p>{summary}</p>}

            {Boolean(highlights?.length) && (
              <div class="experience-highlights">
                <h3>
                  {endDate
                    ? "Tencnologías ó herramientas que usé en este periodo"
                    : "¿Qué estoy usando?"}
                </h3>

                <ul>
                  {experience.highlights.map((elm) => {
                    return <li>{elm}</li>;
                  })}
                </ul>
              </div>
            )}
          </article>
        );
      })
    }
  </section>
</section>

<style>
  section[id] {
    --experience-paragraph-gap: 1lh;

    & .total-experience {
      font-size: 1.26rem;
      color: var(--reading-text-color);
      margin-block: 0 24px;
      font-style: italic;
    }

    & .time-line {
      display: flex;
      flex-direction: column;
      position: relative;
    }

    & .time-line-element {
      --dot-size: 16px;
      --active-experience-color: color-mix(
        in srgb,
        var(--current-text-theme) 10%,
        gray
      );
      --circle-border-size: 2px;

      position: relative;
      padding-left: calc(var(--dot-size) * 2);
      display: flex;
      flex-direction: column;
      gap: var(--experience-paragraph-gap);

      /* Line --- */
      &::after {
        content: "";
        border-right: var(--circle-border-size) solid
          var(--active-experience-color);
        width: calc(
          calc(var(--dot-size) / 2) + calc(var(--circle-border-size) / 2)
        );
        height: calc(
          100% - calc(var(--dot-size) + calc(var(--circle-border-size) * 2))
        );
        position: absolute;
        bottom: 0;
        left: 0;
        transition: 0.2s ease background-color;
        margin-top: calc(var(--dot-size) + var(--circle-border-size));
      }
      /* --- */

      &:is(.dot) {
        /* Circle --- */
        &::before {
          content: "";
          background-color: transparent;
          border: var(--circle-border-size) solid var(--active-experience-color);
          width: var(--dot-size);
          height: var(--dot-size);
          position: absolute;
          top: 0;
          left: 0;
          border-radius: 50%;
          z-index: 1;
          transition: 0.2s ease;
          transition-property: background-color, border-color;
        }
        /* --- */
      }

      &:is(:not(.dot)) {
        /* Line --- */
        &::after {
          height: 100%;
        }
        /* --- */
      }

      &:not(:last-child) {
        padding-bottom: 64px;
      }

      &:is(.current-experience) {
        --active-experience-color: color-mix(
          in srgb,
          transparent 20%,
          var(--current-neon-theme)
        );
      }

      & .experience-header {
        display: flex;
        flex-direction: column;
        gap: 4px;
        font-family: var(--font-title);

        & > hgroup {
          display: flex;
          flex-direction: column;
        }
      }

      & :is(.company-name, .job-title, .work-time) {
        &::first-letter {
          text-transform: capitalize;
        }
      }

      & .company-name {
        font-size: 1.5rem;
        font-weight: 800;
        line-height: 0.9;
      }

      & .job-title {
        font-size: 1.3rem;
        letter-spacing: 0.5px;
        font-weight: 400;
      }

      & .work-time {
        font-size: 1.2rem;
        color: var(--active-experience-color);
        transition: 0.2s ease color;
        font-weight: 300;
      }

      & > p {
        font-size: 1.1rem;
        text-wrap: pretty;
        color: var(--reading-text-color);
      }

      & .experience-highlights {
        & > h3 {
          font-size: 1.25rem;
          font-weight: 600;
          margin-bottom: 4px;
          font-family: var(--font-title);
        }

        & > ul {
          display: flex;
          gap: 6px;
          flex-wrap: wrap;

          & > li {
            background-color: color-mix(
              in srgb,
              transparent 85%,
              var(--active-experience-color)
            );
            font-size: 1rem;
            width: fit-content;
            padding: 4px 8px;
            border-radius: var(--border-radius-min);
            color: color-mix(
              in srgb,
              var(--current-text-theme) 70%,
              var(--active-experience-color)
            );
          }
        }
      }
    }
  }
</style>
