---
import { Icon } from "astro-icon";
import Bull from "../components/Bull.astro";
import { navLinks, socialMedia } from "../utils/info.json";
import Anchor from "./Anchor.astro";
---

<style>
  header {
    display: flex;
    font-size: 1rem;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0;
    border-bottom: 0.1rem solid var(--color-palette-grey);
    flex-wrap: wrap-reverse;
    position: sticky;
    top: 0;
    z-index: 1;

    & :global(a) {
      text-decoration: none;

      &:hover {
        text-decoration-line: underline;
      }
    }
  }

  .contact {
    display: flex;
    gap: 2rem;
    align-items: center;

    & article {
      display: flex;
      gap: 0.3rem;
      align-items: center;
    }
  }

  .social {
    display: flex;
    gap: 0.3rem;

    & :global(a) {
      display: flex;
    }

    & svg {
      height: 1.5rem;
      width: 1.5rem;
    }
  }

  .index-list {
    & ul {
      list-style: none;
      display: flex;
      gap: 0.3rem;
      align-items: center;
      flex-wrap: wrap;
    }
  }

  #darkModeButton {
    display: flex;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0.3rem;

    &:hover,
    &:active {
      outline: 1px solid palette.grey;
    }
  }

  [astro-icon="sun"],
  [astro-icon="moon"] {
    height: 2rem;
    width: 2rem;
  }

  [astro-icon="sun"] {
    display: none;
  }

  [astro-icon="moon"] {
    color: palette.black;
    animation: 3s infinite alternate moon-shadow;
  }

  @keyframes moon-shadow {
    from {
      filter: none;
    }

    to {
      filter: drop-shadow(1px 1px 2px var(--color-palette-black));
    }
  }

  :global(.dark) {
    & [astro-icon="sun"] {
      color: yellow;
      display: block;
      animation: 3s infinite alternate sun-shadow;
    }

    & body {
      & .social {
        & :global(a) {
          fill: #fafafa;
        }
      }

      & header {
        border-color: 0.1rem solid palette.white;

        & [astro-icon="moon"] {
          display: none;
        }

        & #darkModeButton {
          &:hover,
          active {
            outline: 1px solid grey;
          }
        }
      }
    }

    & @keyframes sun-shadow {
      from {
        filter: none;
      }

      to {
        filter: drop-shadow(1px 1px 2px yellow);
      }
    }
  }
</style>

<header>
  <section class="contact">
    <button id="darkModeButton" type="button">
      <Icon name="sun" />
      <Icon name="moon" />
    </button>

    <article>
      <div class="social">
        {
          socialMedia.map((elm) => {
            return (
              <Anchor url={elm.link} external={true}>
                <Icon name={elm.icon} />
              </Anchor>
            );
          })
        }
      </div>

      <Bull />

      <a href="/CV.pdf" download="CV - Sebastian Cortes.pdf"> Descargar CV</a>
    </article>
  </section>

  <nav class="index-list">
    <ul>
      {
        navLinks.map((elm, index, arr) => {
          return (
            <>
              <li>
                <Anchor url={elm.href}>{elm.text}</Anchor>
              </li>

              {index + 1 === arr.length ? null : <Bull />}
            </>
          );
        })
      }
    </ul>
  </nav>
</header>
