---
import { Icon } from "astro-icon";
import { lookingForAJob, sections, socialMedia } from "../utils/info.json";
import Anchor from "./Anchor.astro";
---

<header>
  <div data-class="header-container">
    <section class="contact">
      <button id="darkModeButton" type="button" aria-label="Dark mode">
        <Icon name="sun" />
        <Icon name="moon" />
      </button>

      <article>
        <div class="social">
          {
            socialMedia.map((elm) => {
              return (
                <Anchor
                  url={elm.link}
                  goToAnotherWeb={true}
                  aria-label={`Ver cuenta en ${elm.name}`}
                >
                  <Icon name={elm.icon} />
                </Anchor>
              );
            })
          }
        </div>

        {
          lookingForAJob && (
            <>
              <>&bull;</>

              <a
                href="/CV/CV_es.pdf"
                download="CV - Sebastian Cortes.pdf"
                aria-label="Descargar curriculum vitae"
              >
                Descargar CV
              </a>
            </>
          )
        }
      </article>
    </section>

    <nav class="index-list">
      <ul>
        {
          Object.values(sections).map((elm, index, arr) => {
            return (
              <>
                <li>
                  <Anchor url={elm.href}>{elm.text}</Anchor>
                </li>

                {index + 1 === arr.length ? null : <li>&bull;</li>}
              </>
            );
          })
        }
      </ul>
    </nav>
  </div>
</header>

<style>
  header {
    display: grid;
    top: 0;
    z-index: 1;
    position: sticky;
    background-color: palette.white;
    border-bottom: 0.1rem solid var(--color-palette-grey);

    & [data-class="header-container"] {
      display: flex;
      font-size: 1rem;
      align-items: center;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      flex-wrap: wrap;
      background-color: transparent;
      justify-content: center;
      width: 100%;

      & :global(a) {
        text-decoration: none;

        &:hover {
          text-decoration-line: underline;
        }
      }
    }
  }

  .contact {
    display: flex;
    align-items: center;
    gap: 2rem;
    width: 100%;
    justify-content: center;

    & article {
      display: flex;
      gap: 0.5rem;
      align-items: center;

      & .social {
        display: flex;
        gap: 0.5rem;

        & :global(a) {
          display: flex;
        }

        & svg {
          height: 1.5rem;
          width: 1.5rem;
        }
      }
    }
  }

  .index-list {
    width: 100%;

    & ul {
      list-style: none;
      display: flex;
      gap: 0.5rem;
      flex-wrap: wrap;
      padding: 0;
      justify-content: center;
    }
  }

  #darkModeButton {
    display: flex;
    border: transparent;
    outline: none;
    background-color: transparent;
    padding: 0.3rem;

    &:hover,
    &:active {
      outline: 0.15rem solid var(--color-palette-grey);
    }
  }

  [astro-icon="sun"],
  [astro-icon="moon"] {
    height: 2rem;
    width: 2rem;
  }

  [astro-icon="sun"] {
    display: none;
  }

  [astro-icon="moon"] {
    color: palette.black;
    animation: 3s infinite alternate moon-shadow;
  }

  @keyframes moon-shadow {
    from {
      filter: none;
    }

    to {
      filter: drop-shadow(1px 1px 5px var(--color-palette-black));
    }
  }

  :global(.dark) {
    & [astro-icon="sun"] {
      color: yellow;
      display: block;
      animation: 3s infinite alternate sun-shadow;
    }

    & body {
      & .social {
        & :global(a) {
          fill: #fafafa;
        }
      }

      & header {
        border-color: 0.1rem solid palette.white;

        & [astro-icon="moon"] {
          display: none;
        }
      }
    }
  }

  @keyframes sun-shadow {
    from {
      filter: none;
    }

    to {
      filter: drop-shadow(1px 1px 5px yellow);
    }
  }

  .wrapped {
    justify-content: center;
    width: 100%;
  }
</style>
