---
import { Icon } from "astro-icon";
import { lookingForAJob, sections, socialMedia } from "../utils/const";
import Anchor from "./Anchor.astro";
---

<header class="header-container">
  <section class="contact">
    <button id="darkModeButton" type="button" aria-label="Alternar modo oscuro">
      <Icon name="sun" />
      <Icon name="moon" />
    </button>

    <article class="social-container">
      <div class="social">
        {
          socialMedia.map((elm) => {
            return (
              <Anchor
                url={elm.link}
                goToAnotherWeb={true}
                aria-label={`Ver cuenta en ${elm.name}`}
              >
                <Icon name={elm.icon} />
              </Anchor>
            );
          })
        }
      </div>

      {
        lookingForAJob && (
          <>
            &bull;
            <a
              href="/CV/CV_es.pdf"
              download="CV - Sebastian Cortes.pdf"
              aria-label="Descargar curriculum vitae"
              class="download-cv"
            >
              Descargar CV
            </a>
          </>
        )
      }
    </article>
  </section>

  <nav class="index-list">
    <ul>
      {
        Object.values(sections).map(({ name, text }) => (
          <li>
            <Anchor url={"#" + name}>{text}</Anchor>
          </li>
        ))
      }
    </ul>
  </nav>
</header>

<style>
  .header-container {
    display: flex;
    top: 0;
    z-index: 1;
    transition: var(--transition-one-milisecond);
    column-gap: 3rem;
    row-gap: 0.75rem;
    justify-content: space-evenly;
    padding: 1rem 0rem;
    font-family: var(--font-family-text);
    flex-wrap: wrap;
    backdrop-filter: blur(24px);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }

  .header-container.wrapped {
    justify-content: center;
  }

  .contact {
    display: flex;
    align-items: center;
    gap: 3rem;

    & .social-container {
      display: flex;
      gap: 1rem;
      align-items: center;

      & .social {
        display: flex;
        gap: 0.5rem;

        & :global(a) {
          display: flex;

          & [astro-icon] {
            height: 2rem;
            width: 2rem;
            fill: var(--palette-white);
          }
        }
      }

      & .download-cv {
        transition: var(--transition-two-milisecond);
        border: 1px dashed currentColor;
        border-radius: var(--border-radius-min);
        padding: 0.3rem 0.5rem;
        text-decoration: none;
        text-align: center;

        @media (pointer: fine) {
          &:hover {
            border: 1px solid currentColor;
            font-weight: bold;
            text-shadow: 0 0 1rem currentColor;
          }
        }

        @media (pointer: coarse) {
          &:active {
            border: 1px solid currentColor;
            font-weight: bold;
            text-shadow: 0 0 1rem currentColor;
          }
        }
      }
    }
  }

  .index-list {
    display: flex;
    align-items: center;

    & ul {
      list-style: none;
      display: flex;
      gap: 1rem;
      flex-wrap: wrap;
      padding: 0;

      & li > :global(a) {
        text-decoration: none;

        @media (pointer: fine) {
          &:hover {
            text-decoration: underline;
          }
        }

        @media (pointer: coarse) {
          &:active {
            text-decoration: underline;
          }
        }
      }

      :is(.header-container.wrapped) & {
        justify-content: center;
      }
    }
  }

  #darkModeButton {
    display: flex;
    border: transparent;
    outline: none;
    background-color: transparent;
    padding: 0.3rem;
    border-radius: var(--border-radius-min);

    & [astro-icon] {
      height: 2rem;
      width: 2rem;
    }

    @media (pointer: fine) {
      &:hover {
        outline: 0.15rem solid var(--palette-grey);
      }
    }

    @media (pointer: coarse) {
      &:active {
        outline: 0.15rem solid var(--palette-grey);
      }
    }

    & [astro-icon="sun"] {
      display: none;
    }

    & [astro-icon="moon"] {
      color: var(--palette-black);
    }

    :is([theme="dark"]) & {
      & [astro-icon="sun"] {
        color: yellow;
        display: block;
      }

      & [astro-icon="moon"] {
        display: none;
      }
    }
  }
</style>

<script>
  import { DOMSelector } from "../utils/scripts";

  const $headerContainer = DOMSelector(".header-container");
  let auxHeight = 0;

  // Adjusts the justify-content CSS prop of the header
  const adjustAligment = () => {
    const { height, width } = getComputedStyle($headerContainer);
    const heightComputed = Number(height.replace(/[A-z]/g, ""));
    const widthComputed = Number(width.replace(/[A-z]/g, ""));

    if (!auxHeight) auxHeight = heightComputed;
    if (auxHeight && auxHeight > heightComputed) auxHeight = heightComputed;

    if (auxHeight < heightComputed || widthComputed <= 680) {
      $headerContainer.classList.add("wrapped");
    } else {
      $headerContainer.classList.remove("wrapped");
    }
  };

  window.addEventListener("load", adjustAligment);
  window.addEventListener("resize", adjustAligment);

  // Dark mode
  document.getElementById("darkModeButton").addEventListener("click", () => {
    const element = document.documentElement;
    const isDark = element.getAttribute("theme").includes("dark");
    const theme = isDark ? "light" : "dark";

    localStorage.setItem("theme", theme);
    element.setAttribute("theme", theme);
  });
</script>
