---
import { Icon } from "astro-icon";
import Bull from "../components/Bull.astro";
import { navLinks, socialMedia } from "../utils/info.json";
import Anchor from "./Anchor.astro";
---

<style>
  header {
    display: flex;
    font-size: 1rem;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0;
    border-bottom: 1px solid #202124;
    flex-wrap: wrap-reverse;
    position: sticky;
    top: 0;
    background-color: #fafafa;
    z-index: 1;
  }

  header :global(a) {
    text-decoration: none;
    color: #202124;
  }

  header :global(a:hover) {
    text-decoration-line: underline;
  }

  .contact {
    display: flex;
    gap: 2rem;
    align-items: center;
  }

  .contact > article {
    display: flex;
    gap: 0.3rem;
    align-items: center;
  }

  .social {
    display: flex;
    gap: 0.3rem;
  }

  .social > :global(a) {
    display: flex;
  }

  .social svg {
    height: 1.5rem;
    width: 1.5rem;
  }

  .index-list > ul {
    list-style: none;
    display: flex;
    gap: 0.3rem;
    align-items: center;
    flex-wrap: wrap;
  }

  #darkModeButton {
    display: flex;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    border-radius: 0.5rem;
    padding: 0.3rem 0.5rem;
  }

  #darkModeButton:hover,
  #darkModeButton:active {
    outline: 1px solid grey;
  }

  [astro-icon="sun"],
  [astro-icon="moon"] {
    height: 2rem;
    width: 2rem;
  }

  [astro-icon="sun"] {
    display: none;
  }

  [astro-icon="moon"] {
    color: #202124;
    animation: 3s infinite alternate moon-shadow;
  }

  @keyframes moon-shadow {
    from {
      filter: none;
    }

    to {
      filter: drop-shadow(1px 1px 2px #202124);
    }
  }

  :global(.dark) > body header {
    border-bottom: 1px solid #fafafa;
    background-color: #202124;
  }

  :global(.dark) > body,
  :global(.dark) > body :global(a) {
    color: #fafafa;
  }

  :global(.dark) > body .social > :global(a) {
    fill: #fafafa;
  }

  :global(.dark) [astro-icon="sun"] {
    color: yellow;
    display: block;
    animation: 3s infinite alternate sun-shadow;
  }

  @keyframes sun-shadow {
    from {
      filter: none;
    }

    to {
      filter: drop-shadow(1px 1px 2px yellow);
    }
  }

  :global(.dark) [astro-icon="moon"] {
    display: none;
  }

  :global(.dark) #darkModeButton:hover,
  :global(.dark) #darkModeButton:active {
    outline: 1px solid grey;
  }
</style>

<header>
  <section class="contact">
    <button id="darkModeButton">
      <Icon name="sun" />
      <Icon name="moon" />
    </button>

    <article>
      <div class="social">
        {
          socialMedia.map((elm) => {
            return (
              <Anchor url={elm.link} external={true}>
                <Icon name={elm.icon} />
              </Anchor>
            );
          })
        }
      </div>

      <Bull />

      <a href="/CV.pdf" download="CV - Sebastian Cortes.pdf"> Descargar CV</a>
    </article>
  </section>

  <nav class="index-list">
    <ul>
      {
        navLinks.map((elm, index, arr) => {
          return (
            <>
              <li>
                <Anchor url={elm.href}>{elm.text}</Anchor>
              </li>

              {index + 1 === arr.length ? null : <Bull />}
            </>
          );
        })
      }
    </ul>
  </nav>
</header>

<script>
  const valueName = "theme";
  const darkModeValue = localStorage.getItem(valueName);
  const ELM = document.documentElement;

  const theme = () => {
    if (darkModeValue === "dark") {
      document.documentElement.classList.add("dark");
    } else {
      document.documentElement.removeAttribute("class");
    }

    if (!darkModeValue) {
      localStorage.setItem(valueName, "light");
    }
  };

  const toggleTheme = () => {
    ELM.classList.toggle("dark");

    const isDark = ELM.className.includes("dark");
    localStorage.setItem("theme", isDark ? "dark" : "light");
  };

  document
    .getElementById("darkModeButton")
    .addEventListener("click", toggleTheme);

  window.onload = () => {
    theme();
  };
</script>
