---
import { github } from "../utils/info.json";
import Anchor from "./Anchor.astro";

const PROJECTS = await fetch(github.repos).then((res) => res.json());
---

<style>
  section[id="projects"]::before {
    content: "Proyectos personales";
  }

  [data-class="container-projects"] {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(auto-fit, minmax(min(15rem, 100%), 1fr));
    margin-top: 0.5rem;
  }

  [data-class="card-projects"] {
    & h4 {
      margin: 0;
      text-align: center;
    }
  }

  [data-class="topics"] {
    display: flex;
    gap: 0.3rem;
    flex-wrap: wrap;
  }

  [data-class="topics"] {
    & small {
      background-color: #6565652e;
      padding: 0.1rem 0.5rem;
      border-radius: 0.2rem;
      margin: 0;
    }
  }
  [data-class="topics-container-projects"] {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
  }

  [data-class="topics-container-projects"] {
    & span {
      font-size: sm;
      font-weight: bold;
    }
  }

  [data-class="card-projects"] {
    border: 0.1rem solid palette.grey;
    padding: 0.5rem 0.8rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: min-content;
  }

  [data-class="desc"] {
    margin: 0;
  }

  [data-class="footer-card-projects"] {
    display: flex;
    gap: 1rem;
  }

  [data-class="footer-card-projects"] {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    word-break: keep-all;
    background-color: var(--palette-black);

    & :global(a) {
      padding: 0.2rem 0.6rem;
      border: 0.1rem solid palette.grey;
      text-decoration: none;
      transition: 0.2s all ease;

      &:hover,
      &:active {
        border-color: palette.black;
        background-color: palette.black;
        color: palette.white;
      }

      @nest :global(.dark) & {
        &:hover, &:active {
          border-color: palette.white;
          background-color: palette.white;
          color: palette.black;
        }
      }
    }
  }

  [data-class="title-card-projects"] {
    font-size: 1.1em;
  }
</style>

<section id="projects">
  <div data-class="container-projects">
    {
      PROJECTS.map((elm) => {
        if (elm.name !== "portfolio") {
          return (
            <>
              <article data-class="card-projects">
                <h4 data-class="title-card-projects">{elm.name}</h4>
                {elm.description && elm.description.length && (
                  <p data-class="desc">{elm.description}</p>
                )}

                {elm.topics && elm.topics.length && (
                  <div data-class="topics-container-projects">
                    <span>Tecnologías usadas</span>

                    <div data-class="topics">
                      {elm.topics.map((tech) => {
                        return <small>{tech}</small>;
                      })}
                    </div>
                  </div>
                )}

                <footer data-class="footer-card-projects">
                  {elm.html_url && elm.html_url.length && (
                    <Anchor url={elm.html_url} external={true}>
                      Repositorio
                    </Anchor>
                  )}

                  {elm.homepage && elm.homepage.length && (
                    <Anchor url={elm.homepage} external={true}>
                      Ver sitio
                    </Anchor>
                  )}
                </footer>
              </article>
            </>
          );
        }
      })
    }
  </div>
</section>
