---
import { readRepos } from "../services/github";
import { sections } from "../utils/const";

const projects = await readRepos();
const {
  projects: { text, name },
} = sections;
---

<section id={name}>
  <h1 class="section-title">{text}</h1>

  <div class="container">
    {
      projects.map(
        ({ name, description, topics, html_url: htmlUrl, homepage }) => {
          return (
            <fieldset class="card">
              <legend class="title-card">{name}</legend>

              {description && description.length && (
                <p class="description-card">{description}</p>
              )}

              {topics.length ? (
                <section class="topics-container">
                  <h2 class="topics-title">Tecnologías usadas</h2>

                  <div class="topics-group">
                    {topics.map((tech) => (
                      <span class="topic">{tech}</span>
                    ))}
                  </div>
                </section>
              ) : null}

              <footer class="footer-card">
                {htmlUrl && htmlUrl.length && (
                  <custom-anchor href={htmlUrl} goToAnotherWeb={true}>
                    Repositorio
                  </custom-anchor>
                )}

                {homepage && homepage.length && (
                  <custom-anchor href={homepage} goToAnotherWeb={true}>
                    Ver página
                  </custom-anchor>
                )}
              </footer>
            </fieldset>
          );
        },
      )
    }
  </div>
</section>

<style>
  section[id] {
    display: grid;
    gap: 0.2rem;
    width: 100%;

    & .container {
      column-gap: 0.5rem;
      column-count: auto;
      column-width: 20rem;

      & .card {
        border: 0.1rem solid var(--palette-grey);
        padding: 0.5rem 0.8rem;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        height: min-content;
        margin-bottom: 0.5rem;
        break-inside: avoid;
        border-radius: var(--border-radius-min);

        & .title-card {
          font-size: 1.3rem;
          text-align: center;
          font-weight: 600;
        }

        & .description-card {
          font-size: 1.125rem;
          word-break: break-word;
        }

        & .topics-container {
          display: flex;
          flex-direction: column;
          gap: 0.3rem;

          & .topics-title {
            font-size: 1.15rem;
            font-weight: bold;
          }

          & .topics-group {
            display: flex;
            gap: 0.3rem;
            flex-wrap: wrap;

            & .topic {
              background-color: var(--palette-grey);
              padding: 0.15rem 0.5rem;
              border-radius: 0.2rem;
              margin: 0;
            }
          }
        }

        & .footer-card {
          display: flex;
          justify-content: center;
          flex-wrap: wrap;
          word-break: keep-all;
          gap: 1rem;

          & :global(a) {
            padding: 0.3rem 0.6rem;
            border: 0.1rem solid var(--palette-grey);
            text-decoration: none;
            transition-duration: 0.2s;
            transition-property: color, background-color, border-color;
            transition-timing-function: ease;
            border-radius: var(--border-radius-min);

            :is(&:hover, &:active) {
              @media (pointer: fine) {
                &:hover {
                  border-color: var(--palette-black);
                  background-color: var(--palette-black);
                  color: var(--palette-white);
                }
              }

              @media (pointer: coarse) {
                &:active {
                  border-color: var(--palette-black);
                  background-color: var(--palette-black);
                  color: var(--palette-white);
                }
              }

              :is([theme="dark"]) & {
                border-color: var(--palette-white);
                background-color: var(--palette-white);
                color: var(--palette-black);
              }
            }
          }
        }
      }
    }
  }
</style>

<script>
  import "./Anchor.js";
</script>
